{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock title %}</title> 
    <link rel="stylesheet" href="{% static 'App/estilos.css' %}">
    <link rel = "icon" href = "{% static 'App/favicon.ico' %}">
</head>
<body>
    <header class="navbar">
        <div class="logo-container">
            <a href="{% url 'home' %}">
                <img src="{% static 'App/Logo.png' %}" class="logo-navbar">
            </a>
            <span class="bienvenida-texto">Bienvenido a SDCC</span>
        </div>
    <nav>
        {% if user.is_authenticated and user.is_superuser %}
            <a href="{% url 'contacto_list' %}">Contactos</a>
            <a href="{% url 'versionproducto_list' %}">Versiones</a>
            <a href="{% url 'instalacion_list' %}">Instalaciones</a>
            <a href="{% url 'tecnico_list' %}">Técnicos</a>
            <a href="{% url 'venta_list' %}">Ventas</a>
            <a href="{% url 'cerrar_sesion' %}">Cerrar sesión</a>
        {% else %}
            <a href="{% url 'superuser_login' %}">Login</a>
        {% endif %}
    </nav>
</header>


    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 Seguridad Automotriz</p>
    </footer>

    <script src="{% static 'App/lightbox.js' %}"></script>
    <script src="{% static 'App/carrousel.js' %}"></script>
</body>
</html>
