{% extends 'App/base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="formulario-alineado">
    <h2 class="titulo-login">Iniciar sesión</h2>

    {% if messages %}
        <div class="error-login">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn-crear" style="margin-top: 10px;">Acceder</button>
    </form>
</div>
{% endblock %}