{% extends 'App/base.html' %}

{% load static %}

{% block content %}
<h2>Listado de Técnicos</h2>

<div class="acciones-superiores">
    <a href="{% url 'tecnico_create' %}" class="btn-crear">Crear</a>
    <button id="btnToggleFiltros" class="btn-filtrar" style="margin-bottom: 10px;">Mostrar / Ocultar Buscador</button>
</div>

<form method="get" class="formulario-filtros oculto">
    <div class="filtros-grid">
        <input type="text" name="legajo" placeholder="Legajo" value="{{ filtros.legajo }}">
        <input type="text" name="nombre" placeholder="Nombre" value="{{ filtros.nombre }}">
        <input type="text" name="apellido" placeholder="Apellido" value="{{ filtros.apellido }}">
        <input type="text" name="telefono" placeholder="Teléfono" value="{{ filtros.telefono }}">
    </div>
    <div class="botones-filtros">
        <button type="submit" class="btn-filtrar">Buscar</button>
        <a href="{% url 'tecnico_list' %}" class="btn-cancelar">Limpiar</a>
    </div>
</form>

<table class="tabla-tecnico">
    <thead>
        <tr>
            <th>Legajo</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Teléfono</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for tecnico in tecnicos %}
        <tr>
            <td>{{ tecnico.legajo }}</td>
            <td>{{ tecnico.nombre }}</td>
            <td>{{ tecnico.apellido }}</td>
            <td>{{ tecnico.telefono }}</td>
            <td>
                <a href="{% url 'tecnico_update' tecnico.id %}" class="btn-actualizar">Editar</a>
                <a href="{% url 'tecnico_delete' tecnico.id %}" class="btn-eliminar">Eliminar</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="5" style="padding-left: 10px; text-align: left;">No hay técnicos registrados.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'App/filtros.js' %}"></script>
{% endblock %}